<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBIxfhK5JjYE9E4YMFwJbLuebYClMXa_g</string>
	<key>GCM_SENDER_ID</key>
	<string>717136529222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mnemoApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mnemo-53581</string>
	<key>STORAGE_BUCKET</key>
	<string>mnemo-53581.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717136529222:ios:5d4d00f971fddd3a13c747</string>
</dict>
</plist>